In [1]:
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd

import seaborn.apionly as sns
sns.set_style("whitegrid")
sns.set_context("poster")

C:\ProgramData\Anaconda3\lib\_collections_abc.py:841: MatplotlibDeprecationWarning:
The examples.directory rcparam was deprecated in Matplotlib 3.0 and will be removed in 3.2. In the future, examples will be found relative to the 'datapath' directory.
  self[key] = other[key]
C:\ProgramData\Anaconda3\lib\_collections_abc.py:841: MatplotlibDeprecationWarning:
The savefig.frameon rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
  self[key] = other[key]
C:\ProgramData\Anaconda3\lib\_collections_abc.py:841: MatplotlibDeprecationWarning:
The text.latex.unicode rcparam was deprecated in Matplotlib 3.0 and will be removed in 3.2.
  self[key] = other[key]
C:\ProgramData\Anaconda3\lib\_collections_abc.py:841: MatplotlibDeprecationWarning:
The verbose.fileo rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
  self[key] = other[key]
C:\ProgramData\Anaconda3\lib\_collections_abc.py:841: MatplotlibDeprecationWarning:
The verbose.level rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
  self[key] = other[key]
C:\ProgramData\Anaconda3\lib\site-packages\seaborn\apionly.py:9: UserWarning: As seaborn no longer sets a default style on import, the seaborn.apionly module is deprecated. It will be removed in a future version.
  warnings.warn(msg, UserWarning)

In [2]:
train = pd.read_csv("./Data/train.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test = pd.read_csv("./Data/test.csv")
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
Sexbinary = (train.Sex.values=='male')*1
Cabinbinary = (train.Cabin.values=='NaN')*1
Sexbinary1 = (test.Sex.values=='male')*1
Cabinbinary1 = (test.Cabin.values=='NaN')*1

In [5]:
del train['Name'], train['Sex'], train['Ticket'], train['Embarked'] , train['Cabin'];
del test['Name'], test['Sex'], test['Ticket'], test['Embarked'] , test['Cabin'];

In [6]:
train['Sexbinary'] = Sexbinary
train['Cabinbinary'] = Cabinbinary
test['Sexbinary'] = Sexbinary1
test['Cabinbinary'] = Cabinbinary1

In [7]:
train.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sexbinary,Cabinbinary
0,1,0,3,22.0,1,0,7.2500,1,0
1,2,1,1,38.0,1,0,71.2833,0,0
2,3,1,3,26.0,0,0,7.9250,0,0
3,4,1,1,35.0,1,0,53.1000,0,0
4,5,0,3,35.0,0,0,8.0500,1,0

In [8]:
(np.sum(train.Age.values))/len(train.Age.values)

nan

In [9]:
test.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare  Sexbinary  Cabinbinary
0          892       3  34.5      0      0   7.8292          1            0
1          893       3  47.0      1      0   7.0000          0            0
2          894       2  62.0      0      0   9.6875          1            0
3          895       3  27.0      0      0   8.6625          1            0
4          896       3  22.0      1      1  12.2875          0            0

In [10]:
from numpy import *
where_are_NaNs = isnan(train.Age.values)
train.Age.values[where_are_NaNs] = 0
for i in range(len(train.Age.values)):
    if(train.Age.values[i]==0):
        train.Age.values[i]= 24

In [11]:
from numpy import *
where_are_NaNs = isnan(test.Age.values)
test.Age.values[where_are_NaNs] = 0
for i in range(len(test.Age.values)):
    if(test.Age.values[i]==0):
        test.Age.values[i]= 24

In [12]:
train.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sexbinary,Cabinbinary
0,1,0,3,22.0,1,0,7.2500,1,0
1,2,1,1,38.0,1,0,71.2833,0,0
2,3,1,3,26.0,0,0,7.9250,0,0
3,4,1,1,35.0,1,0,53.1000,0,0
4,5,0,3,35.0,0,0,8.0500,1,0

In [13]:
train_resp = train.Survived
train_resp.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [14]:
lcols=list(train.columns)
lcols.remove(u'Survived')
lcols

['PassengerId',
 'Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Sexbinary',
 'Cabinbinary']

In [46]:
train.shape

(891, 9)

In [47]:
from keras.models import Sequential
from keras.layers import Dense, Activation

model = Sequential([
    Dense(32, input_shape=(891,9)),
    Activation('relu'),
    Dense(10),
    Activation('softmax'),
])

In [48]:
#model.add(Dense(units=64, activation='relu', input_dim=9))
#model.add(Dense(units=10, activation='softmax'))

In [49]:
model.compile(loss='categorical_crossentropy',
              optimizer='sgd',
              metrics=['accuracy'])
model.compile(loss=keras.losses.categorical_crossentropy,
              optimizer=keras.optimizers.SGD(lr=0.01, momentum=0.9, nesterov=True))

In [50]:
model.fit(train, train_resp, epochs=5, batch_size=32)

ValueError: Error when checking input: expected dense_11_input to have 3 dimensions, but got array with shape (891, 9)

In [15]:
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.model_selection import GridSearchCV

In [16]:
params = {"C": [0.0001, 0.001, 0.01, 0.1, 1.0, 10.0, 100.0]}
clflog = GridSearchCV(LogisticRegression(solver="liblinear"), cv=5, param_grid=params,refit=True)
clflog.fit(train[lcols],train_resp)
best=clflog.best_estimator_
best

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
best.score(train[lcols],train_resp)

0.7991021324354658

In [18]:
test = test.fillna(0)

In [47]:
best.predict(test).shape

(418,)

In [53]:
submission0 = pd.read_csv("./Data/gender_submission.csv")
submission0.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [54]:
del submission0[u'PassengerId'] , submission0[u'Survived']

In [61]:
submission0['PassengerId'] = test.PassengerId
submission0['Survived'] = best.predict(test)
submission0.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [73]:
submission0.to_csv('file2.csv', header=False, index=False)